pkgbase = hybrid-bar-git
	pkgdesc = A status bar focused on wl-roots Wayland compositors
	pkgver = 0.1.4
	pkgrel = 1
	url = https://github.com/vars1ty/HybridBar
	arch = i686
	arch = x86_64
	arch = armv6h
	arch = armv7h
	license = MIT
	makedepends = rust
	makedepends = cargo
	makedepends = git
	depends = gtk3
	depends = gtk-layer-shell

pkgname = hybrid-bar-git
