/* Label Color. Config default is white. */
label {
    color:          white;
}

/* Button Configuration */
button {
    border:         none;
    padding-top:    0px;
    padding-bottom: 0px;
    margin-bottom: -5px;
    margin-top:    -5px;
    padding:        0px;
    background:     none;
    box-shadow:     none;
    font-weight:    normal;
}
